.bg-layout[data-v-188993a5]{background-image:url(/SGPI/assets/Fondo2-C6y5cSk3.jpg);background-size:cover;background-position:center;background-repeat:no-repeat}.tabs[data-v-188993a5]{border-radius:50px}
